# Editable install with no version control (bonfire==0.1.0)
-e /home/chris/Git/bonfire
certifi==2025.8.3
charset-normalizer==3.4.3
docker==7.1.0
idna==3.10
platformdirs==4.4.0
requests==2.32.5
urllib3==2.5.0
yapf==0.43.0